<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_3219618_ypfx26dcdr.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/cate_gory.css">
</head>

<body>
    <!-- 头部区域 -->
    <header>
        <a href="./index.html" class="logo">
            <img src="./images/logo.png" alt="">
        </a>
        <span>课 程 分 类</span>
    </header>
    <!-- 内容区域 -->
    <div class="content_box">
        <!-- 左侧导航栏 -->
        <div class="content_left">
            <ul>
                <li class="current"><a href="#">前端</a></li>
                <li><a href="#">微信小程序</a></li>
                <li><a href="#">Vue.js</a></li>
                <li><a href="#">移动Web开发</a></li>
                <li><a href="#">bootstrap</a></li>
                <li><a href="#">Node.js</a></li>
            </ul>
        </div>
        <!-- 右侧展示区 -->
        <div class="content_right" style="display: block;">
            <h2>就业班</h2>
            <div class="pic">
                <i>web前端在线就业班</i>
                <a href="#">
                    <img src="./images/web_fe.png" alt="">
                </a>
            </div>
            <h2>提高课</h2>
            <ul class="lists">
                <li>
                    <a href="#">微信小程序</a>
                    <a href="#">深入探索js</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
                <li>
                    <a href="#">vue.js</a>
                    <a href="#">微信小程序</a>
                </li>
                <li>
                    <a href="#">深入探索js</a>
                    <a href="#">微信小程序</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">微信小程序</a>
                </li>
                <li>
                    <a href="#">vue.js</a>
                    <a href="#">微信小程序</a>
                </li>

            </ul>
        </div>
        <div class="content_right">
            <h2>就业班</h2>
            <div class="pic">
                <i>web前端在线就业班</i>
                <a href="#">
                    <img src="./images/web_fe.png" alt="">
                </a>
            </div>
            <h2>提高课</h2>
            <ul class="lists">
                <li>
                    <a href="#">微信小程序</a>
                    <a href="#">深入探索js</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
            </ul>
        </div>
        <div class="content_right">
            <h2>就业班</h2>
            <div class="pic">
                <i>web前端在线就业班</i>
                <a href="#">
                    <img src="./images/web_fe.png" alt="">
                </a>
            </div>
            <h2>提高课</h2>
            <ul class="lists">
                <li>
                    <a href="#">微信小程序</a>
                    <a href="#">深入探索js</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
            </ul>
        </div>
        <div class="content_right">
            <h2>就业班</h2>
            <div class="pic">
                <i>web前端在线就业班</i>
                <a href="#">
                    <img src="./images/web_fe.png" alt="">
                </a>
            </div>
            <h2>提高课</h2>
            <ul class="lists">
                <li>
                    <a href="#">微信小程序</a>
                    <a href="#">深入探索js</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
            </ul>
        </div>
        <div class="content_right">
            <h2>就业班</h2>
            <div class="pic">
                <i>web前端在线就业班</i>
                <a href="#">
                    <img src="./images/web_fe.png" alt="">
                </a>
            </div>
            <h2>提高课</h2>
            <ul class="lists">
                <li>
                    <a href="#">微信小程序</a>
                    <a href="#">深入探索js</a>
                </li>
                <li>
                    <a href="#">node.js</a>
                    <a href="#">bootstrap</a>
                </li>
            </ul>
        </div>
        <div class="content_right">
            <h2>就业班</h2>
            <div class="pic">
                <i>web前端在线就业班</i>
                <a href="#">
                    <img src="./images/web_fe.png" alt="">
                </a>
            </div>
            <h2>提高课</h2>
            <ul class="lists">
                <li>
                    <a href="#">微信小程序</a>
                    <a href="#">深入探索js</a>
                </li>

            </ul>
        </div>
    </div>

    <!-- 底部 -->
    <footer>
        <div>
            <a href="./index.html">
                <i class="iconfont icon-shouye"></i>
                <p>首页</p>
            </a>
        </div>
        <div>
            <a href="./cate_gory.html">
                <i class="iconfont icon-fenlei1-xianxing"></i>
                <p>分类</p>
            </a>
        </div>
    </footer>
    <script src="./js/flexble.js"></script>
    <script src="./jquery-3.5.1.js"></script>
    <script src="./cate_gory.js"></script>
</body>

</html>